@font-face {
    font-family: heading;
    src: url("/static/Pacaya.otf") format("opentype"); 
}

@font-face {
    font-family: text;
    src: url("/static/NoticiaText-Regular.ttf");
}

body {
    font-family: text;
    font-size: 12pt;
}

h1 {
    font-family: heading;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: heading;
}

h4 {
    font-family: heading;
    margin-bottom: 0px;
}

label {
    text-align: right;
}

textarea {
    border: 1px solid;
    border-radius: 5px;
}

input {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.page {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height:98%;
}

.subtitle {
    text-align: center;
    font-style: italic;
    margin-bottom: 23px;
}

.pagelist {
    text-align: center;
}

.postlist {
    list-style: none;
    padding-left: 0em;
    margin-left: 0em;
}
 
.footer {
    text-align: center;
    margin-top: 137px;
}

.post {
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-preview {
    font-family: text;
    margin-top: 0px;
    font-size: 12pt;
}
.post-date {
    font-family: text;
    text-align: right;
    font-style: italic;
}
